html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #eee;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

textarea {
    resize: none;
}

input,
select,
button {
    outline: none;
}

figure {
    margin: 0;
}

* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

/* another CSS Features */

.wrapper {
    display: flex;
    flex-flow: column wrap;
    max-width: 960px;
    margin: 5vh auto;
    padding: 0 5%;
}

/* card hover border effect */

.card {
    width: 300px;
    height: 300px;
    background-color: #4DD0E1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 3%;
}

.card h2 {
    transition: 0.2s;
    transform: translateY(20px);
}

.card p {
    transition: 0.2s;
    transform: translateY(-20px);
    opacity: 0;
    visibility: hidden;
}

.card::before {
    content: '';
    position: absolute;
    top: 5%;
    right: 5%;
    bottom: 5%;
    left: 5%;
    border-top: solid 2px #3F51B5;
    border-bottom: solid 2px #3F51B5;
    transition: 0.2s;
    transform: scaleX(0);
}

.card::after {
    content: '';
    position: absolute;
    top: 5%;
    right: 5%;
    bottom: 5%;
    left: 5%;
    border-right: solid 2px #3F51B5;
    border-left: solid 2px #3F51B5;
    transition: 0.2s;
    transform: scaleY(0);
}

.card:hover::before,
.card:hover::after {
    transform: scale(1);
}

.card:hover h2,
.card:hover p {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

/* button highlight */

.highlight {
    position: relative;
}

.highlight__btn {
    color: #fff;
    background-color: #ef5350;
    border: none;
    padding: 8px 14px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
}

.highlight__btn::before {
    content: '';
    position: absolute;
    width: 2em;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(238, 238, 238, .5);
    transform: translateX(-7em) skew(-45deg);
}

.highlight__btn:hover::before {
    animation: hoverLight 1s;
}

@keyframes hoverLight {
    from {
        transform: translateX(-5em) skewX(-45deg);
    }
    to {
        transform: translateX(11em) skewX(-45deg);
    }
}

/* svg hover effect btn */

.svgWrap {
    margin-top: 3%;
    width: 130px;
    height: 65px;
    text-align: center;
    line-height: 65px;
    position: relative;
    cursor: pointer;
}

.svgWrap svg {
    position: absolute;
    top: 0;
    left: 0;
}

.svgWrap svg rect {
    stroke: #EF6C00;
    stroke-width: 1;
    transition: .8s;
    stroke-dasharray: 400, 0;
}

.svgWrap:hover svg rect {
    stroke-width: 4;
    stroke-dasharray: 35, 245;
    stroke-dashoffset: 39;
}

/* tooltip */

#pwForm {
    position: relative;
    width: 100%;
    max-width: 600px;
}

#pwForm label {
    font-size: 26px;
    letter-spacing: 1px;
}

#pwForm input {
    margin: 0 10px;
    padding: 8px 8px 6px; 
    font-size: 20px;
    border: none;
}

.tooltipWrap {
    margin-top: 3%;
}

.tooltip {
    position: relative;
    background: rgba(0, 0, 0, .8);
    padding: 5px 12px;
    border-radius: 100%;
    font-size: 20px;
    cursor: help;
    color: #fff;
}

.tooltip::before, .tooltip::after {
    position: absolute;
    left: 50%;
    opacity: 0;
    transition: all ease 1s;
}

.tooltip::before {
   content: '';
   border-width: 10px 8px 0 8px;
   border-style: solid;
   border-color: rgba(0, 0, 0, .8) transparent transparent transparent;
   margin-left: -8px;
   top: -20px;
}

.tooltip::after {
    content: attr(data-tooltip);
    background: rgba(0, 0, 0, .8);
    top: -20px;
    font-size: 14px;
    width: 300px;
    margin-left: -150px;
    padding: 14px;
    border-radius: 10px;
    transform: translateY(-100%);
}

.tooltip:hover::before, .tooltip:hover::after {
    opacity: 1;
}

/* card hover overlay */

.someCard {
    margin-top: 3%;
}

.someCard__item {
    width: 300px;
    height: 300px;
    background-image: url("https://placekitten.com/300/300");
    position: relative;
    overflow: hidden;
}

.someCard__descr {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(0, 0, 0, .4);
    text-align: center;
    padding: 50% 0;
    opacity: 0;
    transition: all .8s;
}

.someCard__item:hover .someCard__descr {
    opacity: 1;
    top: 0;
}